<div class="form-group">
    {{#link-to 'auth.group.new-dish' class="btn btn-primary btn-sm"}}
        {{t 'dishes-container.new_dish'}}
    {{/link-to}}

    <button class="btn btn-primary btn-sm" {{action 'clear'}}>
        {{t 'dishes-container.clear_likes'}}
    </button>
</div>
<div class="form-group">
    <button class="btn btn-default btn-sm" {{action 'shuffle'}}>
        {{t 'dishes-container.shuffle'}}
    </button>

    <button class="btn btn-default btn-sm" {{action 'sortByName'}}>
        {{t 'dishes-container.sort_by_name'}}
    </button>

    <button class="btn btn-default btn-sm" {{action 'sortByLikes'}}>
        {{t 'dishes-container.sort_by_likes'}}
    </button>
</div>
<div class="form-group">
    {{input
        value=filter
        class="form-control input-inline input-sm"
        placeholder=(t 'dishes-container.filter')}}
</div>

<div class="grid">
    {{#each dishes as |dish|}}
        <div class="panel panel-default grid-item" {{action 'like' dish}}>
            <div class="panel-body">
                {{#if dish.imageUrl}}
                    <img src={{dish.imageUrl}} class="img-responsive img-rounded">
                {{/if}}
            </div>
            <div class="panel-footer">
                <span class="_name">{{dish.name}}</span>
                {{user-strip users=dish.likes size=30 class="pull-right"}}
            </div>
        </div>
    {{/each}}
</div>
