{{#if newGroup}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    {{input value=newGroup.name placeholder="Name" class="form-control"}}
                </div>
                <button class="btn btn-primary" {{action 'saveNewGroup'}}>
                    {{t 'groups.save'}}
                </button>
                <button class="btn btn-default" {{action 'cancelNewGroup'}}>
                    {{t 'groups.cancel'}}
                </button>
            </div>
        </div>
    </div>
{{else}}
    <button class="btn btn-primary btn-block" {{action 'createNewGroup'}}>
        {{t 'groups.create_new_group'}}
    </button>
    <hr>
{{/if}}

{{#each displayedGroups as |group|}}
    {{group-card group=group}}
{{/each}}
