<h1 class="text-fancy text-lg">
    {{model.name}}
</h1>

{{user-strip primaryUser=model.owner users=model.users}}

{{#link-to 'auth.group.users' class="btn btn-primary"}}
    {{t 'group.manage_members'}}
{{/link-to}}

{{outlet}}

<h3>Dishes</h3>

{{#if newDish}}
    {{input value=newDish.name}}
    {{textarea value=newDish.notes cols="80" rows="6"}}

    {{image-picker dataUrl=imageDataUrl}}

    <img src={{imageDataUrl}} alt="Preview">

    <button class="btn btn-success" {{action 'saveDish'}}>Save</button>
{{else}}
    <button class="btn btn-primary" {{action 'addDish'}}>New dish</button>
{{/if}}

<ul>
    {{#each model.dishes as |dish|}}
        <li>
            {{dish.name}}, submitted by {{dish.submitter.name}}
            {{#if dish.imageUrl}}
                <img src={{dish.imageUrl}} alt="picture">
            {{/if}}
        </li>
    {{/each}}
</ul>
