<h1 class="text-fancy text-lg">
    {{model.name}}
</h1>

{{user-strip primaryUser=model.owner users=model.users}}

{{#link-to 'auth.group.users' class="btn btn-primary"}}
    {{t 'group.manage_members'}}
{{/link-to}}

{{outlet}}

<hr>

{{dishes-container dishes=displayedDishes}}
