<h1 class="text-fancy text-lg">
    {{model.name}}
</h1>

{{user-strip primaryUser=model.owner users=model.users}}

{{#link-to 'auth.group.users' class="btn btn-primary"}}
    {{t 'group.manage_members'}}
{{/link-to}}

{{outlet}}

<hr>

<div class="form-group">
    {{#link-to 'auth.group.new-dish' class="btn btn-primary"}}
        {{t 'group.new_dish'}}
    {{/link-to}}

    <button class="btn btn-primary" {{action 'clearLikes'}}>
        {{t 'group.clear_likes'}}
    </button>

    <button class="btn btn-default visible-lg-inline-block" {{action 'switchDisplayMode'}}>
        {{if isListDisplayMode (t 'group.switch_to_cards') (t 'group.switch_to_list')}}
    </button>
</div>

{{#if isListDisplayMode}}
    {{dishes-list
        dishes=displayedDishes
        loggedUser=applicationController.loggedUser
        onLike=(action 'like')
        onDelete=(action 'delete')}}
{{else}}
    {{dishes-isotope
        dishes=displayedDishes
        onLike=(action 'like')}}
{{/if}}

