<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="header-navbar">
            {{#link-to 'auth.groups' class="navbar-brand"}}
                Groups
            {{/link-to}}
        </div>
        <div class="navbar-right">
            <p class="navbar-text visible-lg-block">
                {{gravatar-image email=applicationController.loggedUser.email size=35 class="img-circle"}}
                {{t 'auth.hello'}}
                {{applicationController.loggedUser.name}}

                <button class="btn btn-link btn-sm" {{action 'logout'}}>
                    {{t 'auth.logout'}}
                </button>
            </p>
            <button class="btn btn-primary btn-sm navbar-btn pull-right hidden-lg" {{action 'logout'}}>
                {{t 'auth.logout'}}
            </button>
        </div>
    </div>
</nav>

{{outlet}}
