<h1>Group</h1>

<h3>{{model.name}}</h3>

<h4>Invite someone</h4>
{{input value=inviteEmail placeholder="Email"}}

<ul>
    {{#each inviteCandidates as |user|}}
        <li>{{user.name}} <button class="btn btn-success" {{action 'invite' user}}>Invite</button></li>
    {{/each}}
</ul>

<h3>Current Owner: {{model.owner.name}}</h3>

<h3>Members</h3>
<ul>
    {{#each model.users as |user|}}
        <li>{{user.name}}</li>
    {{/each}}
</ul>

<h3>Dishes</h3>

{{#if newDish}}
    {{input value=newDish.name}}
    {{textarea value=newDish.notes cols="80" rows="6"}}

    {{image-picker dataUrl=imageDataUrl}}

    <img src={{imageDataUrl}} alt="preview">

    <button class="btn btn-success" {{action 'saveDish'}}>Save</button>
{{else}}
    <button class="btn btn-primary" {{action 'addDish'}}>New dish</button>
{{/if}}

<ul>
    {{#each model.dishes as |dish|}}
        <li>{{dish.name}}, submitted by {{dish.submitter.name}}</li>
    {{/each}}
</ul>
