<h1>Signup</h1>

{{input value=model.name placeholder="full name"}}
{{input value=model.email placeholder="email"}}

{{input value=password type="password" placeholder="password"}}
{{input value=passwordConfirmation type="password" placeholder="password"}}

{{#unless passwordVerification}}
    <h3>The passwords aren't matching</h3>
{{/unless}}

<code>{{captchaOne}} + {{captchaTwo}} = ?</code>
{{input value=captcha}}

{{#unless captchaVerification}}
    <h3>The captcha is not correct</h3>
{{/unless}}

<button class="btn btn-primary" disabled={{isNotValid}} {{action 'signup'}}>Signup</button>
